{% extends 'base.html' %}

{% block title %} | About {% endblock %}

{% block content %}

{% load static %}

<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Service center strat -->
<div class="about-car content-area-5">
    <div class="container">
        <div class="row">
        {% for images in images %}
            <div class="col-xl-5 col-lg-6">
                <div class="about-car-photo">
                    
                    
                    <div id="carDetailsSlider" class="carousel car-details-sliders slide">
                        <!-- main slider carousel items -->
                        <div class="carousel-inner">
                            {% if images.photo_1 %}
                            <div class="active item carousel-item" data-slide-number="0">
                                <img src="{{ images.photo_1.url }}" class="img-fluid" alt="imagae">
                            </div>
                            {% endif %}
                        </div>
                        <!-- main slider carousel nav controls -->
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-xl-7 col-lg-6 align-self-center">
                <div class="best-used-car">
                    <h3>Welcome to <span>Wedding Zone</span></h3>
                    <p>We love weddings and planning them should be a joyful and hassle free experience. We want to give our couples a perfect start to their love life.</p>
                    <p class="mb-0">We understand how important vendors are for a happy wedding and we know the trouble and time wedding vendors take to generate leads. We like to make their life easier. Happy vendors bring smiles at weddings :)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service center end -->


<!-- Our team start -->
<div class="our-team content-area bg-grea-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Executive <span>Team</span></h1>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area clearfix">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 3, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                {% for team in teams %}
                <div class="slick-slide-item">
                    <div class="team-1">
                        <div class="photo">
                            <a href="#">
                                <img src="{{ team.photo.url }}" alt="team-1" class="img-fluid" style="height: 260px;">
                            </a>
                            <div class="social-list clearfix">
                                <a href="{{team.facebook_link}}" target="_blank" class="facebook-bg"><i class="fa fa-facebook"></i></a>
                                <a href="{{team.twitter_link}}" target="_blank" class="twitter-bg"><i class="fa fa-twitter"></i></a>
                                <a href="{{team.linkedin_link}}" target="_blank" class="google-bg"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="details">
                            <h4><a href="#">{{team.first_name}} {{team.last_name}}</a></h4>
                            <h5>{{team.designation}}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->

{% endblock %}