{% extends 'base.html' %}

{% block title %} | About {% endblock %}

{% block content %}

{% load static %}


<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>About Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Photo Galley </li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Featured car start -->
<div class="featured-car content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Here's your <span>Venues</span></h1>
            {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> {% endcomment %}
        </div>
        <div class="row">
            {% for venues in venues %}
            <div class="slick-slide-item">
                <div class="car-box-3">
                    <div class="car-thumbnail">
                        <a href="car-details.html" class="car-img">
                            <!-- <div class="tag-2">Featured</div> -->
                            <div class="price-box">
                                <span>₹{{ venues.featured_package_price | intcomma }} </span>
                            </div>
                            <img class="d-block w-100" src="{{ venues.venue_photo.url }}" alt="car" height="262px"
                                style="min-width: 350px; max-width: 350px;">
                        </a>
                        <div class="carbox-overlap-wrapper">
                            <div class="overlap-box">
                                <div class="overlap-btns-area">
                                    <div class="car-magnify-gallery">
                                        {% if venues.venue_photo_1 %}
                                        <a href="{{ venues.venue_photo_1.url }}" class="overlap-btn">
                                            <i class="fa fa-expand"></i>
                                            <img class="hidden" src="{{ venues.venue_photo_1.url }}">
                                        </a>
                                        {% endif %}
                                        {% if venues.venue_photo_2 %}
                                        <a href="{{ venues.venue_photo_2.url }}" class="hidden">
                                            <img class="hidden" src="{{ venues.venue_photo_2.url }}">
                                        </a>
                                        {% endif %}
                                        {% if venues.venue_photo_3 %}
                                        <a href="{{ venues.venue_photo_3.url }}" class="hidden">
                                            <img class="hidden" src="{{ venues.venue_photo_3.url }}">
                                        </a>
                                        {% endif %}
                                        {% if venues.venue_photo_4 %}
                                        <a href="{{ venues.venue_photo_4.url }}" class="hidden">
                                            <img class="hidden" src="{{ venues.venue_photo_4.url }}">
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <h1 class="title">
                            <a href="{% url 'venue_detail' venues.id %}">{{ venues.venue_title }}</a>
                        </h1>
                        <div class="location">
                            <a href="car-details.html">
                                <i class="flaticon-pin"></i> {{ venues.city }}, {{ venues.state }}
                            </a>
                        </div>
                        <ul class="facilities-list clearfix">
                            <li>Guest - {{ venues.guests }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Featured car end -->

{% endblock %}