{% load static %}

<!-- Footer start -->
<footer class="footer">
    
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <p class="copy"> <a href="#">WZone</a></p>
                </div>
                <div class="col-lg-4">
                    <div class="copy">
                        <ul>
                            <li><a href="{% url 'home' %}" class="">Home</a></li>
                        </ul>
                        <ul>
                            <li><a href="{% url 'about' %}" class="">About</a></li>
                        </ul>
                       
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="copy">

                        <ul>
                            <li><a href="{% url 'services' %}" class="">Services</a></li>
                        </ul>
                        <ul>
                            <li><a href="{% url 'testimonials' %}" class="">Testimonials</a></li>
                        </ul>
                        <ul>
                            <li><a href="{% url 'contact' %}" class="">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->